.comment
  h3.comment__title Comment it:
  form
    textarea(type="text", required, placeholder="Your comment").comment__input.comment__text
    input(type="text", required, placeholder="Your name").comment__input.comment__name
    input(type="email", required, placeholder="Email").comment__input.comment__email
    input(type="text", required, placeholder="Homepage").comment__input.comment__home
    input(type="button", value="comment").comment__btn.button-read-more