header.header
  .header__social 
    include ./_social-icons.pug
  .header__logo 
    h1.logo Hipsum Blog
  .header__right
    .header__right-search
      img(src="./img/icons/search.svg", alt="search", width="26")
    .header__right-btn
      button.button-rounded Subscribe