.share-icons
  a(href="#").share-icons__item
    img(src="./img/icons/social/whatsapp.svg", alt="whatsapp", width="21")
  a(href="#").share-icons__item
    img(src="./img/icons/social/instagram.svg", alt="instagram", width="19")
  a(href="#").share-icons__item
    img(src="./img/icons/social/twitter.svg", alt="twitter", width="21")
  a(href="#").share-icons__item
    img(src="./img/icons/social/facebook-f.svg", alt="facebook", width="12")